body{
    height: 100%;
    width: 50%;
}
main {
    background: #ffffff;
}

.container {
    display: flex;
    text-align: center;
    max-width: 100%;
}

.image {
    position: absolute;
    right: 0px;
    
}

.containerLogin {
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    position: relative;
    top: 200px;
    right: 10px;
}

.containerLogo {
    display:flexbox;
    justify-content: center;
    justify-items: center;
    position: absolute;
    top: -130px;
    left: 160px;
}

.containerTitle {
    position: relative;
    bottom: 120px;
    left: 180px;
    font-weight: bold;
    font-size: 25px;
    font-family: 'Roboto', sans-serif;
}

.inputPattern {
    background-color: rgb(239, 239, 239);
    margin-bottom: 20px;
    height: 45px;
    width: 300px;
    border-style: none;
    border-radius: 4px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
    position: relative;
    top: 30px;
}

.inputPattern::placeholder {
    padding: 5%;
    font-weight: bold;
    opacity: 50%;
}

.tipsLogin {
    display: inline-block;
    position: relative;
    bottom: 5px;
    left: 0;
}

.containerFace {
    height: 30px;
    width: 95px;
    background-color: #0678f5;
    position: relative;
    top: 40px;
    right: 104px;
    border-radius: 4px;
    align-items: center;
    padding-top: 4px;
    cursor: pointer;
}

.containerGoogle {
    height: 20px;
    width: 90px;
    background-color: #ffffff;
    border-radius: 4px;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
    padding: 4px;
    position: relative;
    top: 7px;
    left: 1px;
    align-items: center;
    padding-top: 8px;
    cursor: pointer;
}

.containerIphone {
    height: 30px;
    width: 90px;
    background-color: #000000;
    border-radius: 4px;
    position: relative;
    left: 109px;
    bottom: 25px;
    align-items: center;
    padding-top: 3px;
    cursor: pointer;
}

body .containerCheck {
    display: block;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    position: relative;
    right: 300px;
    top: 115px;
    padding: 10px;
}

body .containerCheck input {
    height: 0;
    width: 0;
    opacity: 0;
}

.checkMark {
    position: absolute;
    top: 5px;
    left: -5px;
    height: 20px;
    width: 20px;
    background-color: #eee;
    border-radius: 2px;
}

.containerCheck:hover input ~ .checkMark{
    cursor: pointer;
}

.containerCheck input:checked ~ .checkMark{
    background-color: #eb0029;
}

.containerCheck .checkMark::after{
    content: "";
    position: absolute;
    display: none;
    left: 6px;
    top: 1px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.containerCheck input:checked ~ .checkMark::after {
    display: block;
}

.containerButon {
    position: relative;
    top: 260px;
    right: 280px;
    height: 65px;
    width: 65px;
    background-color: #ffffff;
    border: #000000 solid 3px;
    cursor: pointer;
    border-radius: 20px;
    opacity: 10%;
}

.containerButon .enter {
    align-items: center;
    justify-content: center;
    padding-top: 2px;
}

.footerLogin {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    opacity: 30%;
    position: absolute;
    left: 140px;
    top: 450px;
    font-size: 14px;
    letter-spacing: 1.2px;
    cursor: pointer;
}

.version {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    opacity: 20%;
    position: absolute;
    top: 500px;
    left: 350px;
    font-size: 13px;
}