<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <title>League of Legends</title>
    <meta charset="utf-8">
    <link  rel="stylesheet" href="Index.css" />
    <link  rel="stylesheet" href="reset.css" />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;400&family=Roboto:wght@500&display=swap" rel="stylesheet">
  </head>
  <body>
    <main>
        <div class="container">
            <div class="image">
                <img src="../Assets/Image.jpg" alt="Image de League of Legends" height="750px" width="1120px" />
            </div>
            <div class="containerLogin">
                <div class="containerLogo">
                    <img src="../Assets/Logo.png" alt="Logo" height="35px" width="120px"/>
                </div>
                <div class="containerTitle">
                    <h1>Login</h1>
                </div>
                <div>
                    <div>
                        <input type="text" id="login" class="inputPattern" required placeholder="Usuary Name" >
                    </div>
                    <div>
                        <input type="text" id="senha" class="inputPattern" required placeholder="Password" >
                    </div>
                    <div class="tipsLogin">
                        <div class="containerFace">
                            <img src="../Assets/facebook.png" alt="Login facebook" height="25px" width="40px"/>
                        </div>
                        <div class="containerGoogle">
                            <img src="../Assets/Google.png" alt="Login Google" height="15px" width="20px"/>
                        </div>
                        <div class="containerIphone">
                            <img src="../Assets/Iphone.png" alt="Login Iphone" height="27px" width="25px" />
                        </div>
                    </div>
                </div>
                <div>
                    <label class="containerCheck">
                        <input type="checkbox"> Keep login
                        <span class="checkMark"></span>
                    </label >
                </div>
                <div class="containerButon">
                    <img class="enter" src="../Assets/seta-direita.png" alt="buton enter" height="60px" width="40px">
                </div>
                <div class="footerLogin">
                    <h2>Can't join the session?</h2>
                    <h3>Create an account</h3>
                </div>
                <div class="version">
                    <h4>V52.0.1</h4>
                </div>
            </div>
        </div>
        
    </main>
  </body>
</html>